%opacity-transition {
  opacity: 0;
  transition: opacity 0.25s ease-in;
  &.is-ready {
    opacity: 1;
  }
}


span.underline{
	display: block;
	background-color: $color-sec;
	width:500px;
	height: 1.5px;
}


