div.infos{
	
	display: block;
	width:100%;
	height:100%;

	span{

		border-radius: 50%;
		display: inline-flex;
  		align-items: center;
  		justify-content: center;
		background-color: pink;
		transition: all 0.2s cubic-bezier(.68,-0.55,.27,1.55);

	}

	img#flag{
		display:none;

		&.active{

			display: block;
		}	
	}


}