div.infos{
	
	display: block;
	width:100%;
	height:100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	div.title{

		&.inactive{
				display: none;
			}

		h1{
	  	font-size:70px;
	  	font-family: $font-title;
	  	margin-bottom: 30px;
	  	line-height: 80px;

		  	
		  	span{
		  		font-family: $font-bold;

		  	}
  		}

	  	hr{
	  		display: block;
	  		background-color: $color-sec;
	  		width:500px;
	  		height: 1px;
	  	}

	}
	

	

	span.pop{

		border-radius: 50%;
		display: inline-flex;
  		align-items: center;
  		justify-content: center;
		background-color: $color-sec;
		transition: all 0.2s cubic-bezier(.68,-0.55,.27,1.55);

	}

	div.country_title{

		display: flex;

		img#flag{
		display:none;

		&.active{

			display: block;
			height:150px;
		}	


	
	}

	

	p#capital{
		display:none;

		&.active{
			display: block;
		}
	}

	p#language{
		display:none;

		&.active{
			display: block;
		}
	}

	p#pop{
		display:none;

		&.active{
			display: block;
		}
	}


}